@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END CSS RESET */

:root {
    --accent-color: #e34343;
}

@font-face {
    font-family: "Source Sans 3";
    src:
        local("Source Sans 3"),
        url("../font/SourceSans3-VariableFont_wght.ttf") format("truetype"),
}

@font-face {
    font-family: "Source Sans 3";
    font-style: italic;
    src:
        local("Source Sans 3"),
        url("../font/SourceSans3-Italic-VariableFont_wght.ttf") format("truetype"),
}
  

html {
    background: #fdfdfd;
    height: 100%;
}

body {
    display: flex;
    overflow: auto;
    justify-content: center;
    align-items: baseline;
    gap: 10em;
    height: 100%;
    font-family: "Source Sans 3", sans-serif;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration-color: var(--accent-color);
    text-decoration-thickness: 0.15em;
    color: inherit;
}

em {
    font-style: italic;
}

header {
    margin-top: auto;
    margin-bottom: auto;
    height: auto;
    line-height: 1.1;
    background-image: url("../media/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 400px;
    min-height: 400px;
    aspect-ratio: 1 / 1;
}

header h1 {
    text-indent: -10000px;
}

main {
    margin-bottom: auto;
    margin-top: auto;
    font-size: 1.1em;
    line-height: 1.2;
    width: 640px;
}

main h1 {
    margin-top: 1em;
    font-family: "Source Code Pro", monospace;
    font-size: 2.6em;
    font-weight: 700;
    line-height: 1.1;
}

main h1 span {
    display: inline-block;
    padding: 0.3em;
}

main h1 span:nth-of-type(1) {
    color: #fdfdfd;
    background: var(--accent-color);
}

main h1 span:nth-of-type(2) {
    display: inline-block;
    color: var(--accent-color);
    background: transparent;
}

main p {
    margin-bottom: 1em;
    font-size: 1.2em;
    padding: 0.85em;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
}

main ul {
    list-style-type: disc;
    margin-left: 2.2em;
    margin-bottom: 1em;
}

main ul li {
    margin-bottom: 0.5em;
    font-size: 1.2em;
}

.emphasis {
    font-weight: 700;
    font-size: 1.4em;
}

@media (max-width: 1160px) {
    body {
        padding: 0;
        justify-content: left;
        align-items: center;
        flex-direction: column;
        gap: 0;
        padding-left: 1em;
        padding-right: 1em;
        max-width: 600px;
        margin: auto auto;
    }

    main {
        width: auto;
        max-width: 600px;
    }

    main h1 {
        margin-top: 0;
        font-size: 1.4em;
        margin-top: 1em;
        margin-bottom: 0.2em;
    }

    main p {
        font-size: 1em;
        padding: 0.4em;
        padding-bottom: 0.2em;
        padding-top: 0.2em;
    }

    main ul {
        margin-left: 1.6em;
    }

    main ul li {
        font-size: 1em;
    }

    header {
        min-width: 300px;
        min-height: 300px;
        margin-bottom: 3em;
        margin-top: 3em;
    }

    main {
        padding-bottom: 3em;
    }
}